asn1crypto==0.22.0
cffi==1.10.0
chardet==2.3.0
click==6.7
colorama==0.3.2
cryptography==2.0.3
dbus-python==1.2.4
decorator==4.0.10
enum34==1.1.6
evento==1.0.1
Flask==0.12.2
Flask-SocketIO==2.9.2
gevent==1.2.2
greenlet==0.4.12
html5lib==0.999
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
ndg-httpsclient==0.3.2
numpy==1.11.1
omxplayer-wrapper==0.2.3
-e git+https://github.com/Pro-Use/pyOmxSync.git@ab92c9d2f76f821a15f5d742f589aa72bccc758b#egg=omxsync
pexpect==4.2.0
pi3d==2.13
Pillow==8.3.2
ptyprocess==0.5.1
pyasn1==0.1.7
pycparser==2.18
pydbus==0.5.1
pyOpenSSL==17.2.0
python-engineio==1.7.0
python-socketio==1.8.0
requests==2.4.3
RPi.GPIO==0.6.2
six==1.10.0
urllib3==1.9.1
Werkzeug==0.12.2
