@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#marker {
    height: 50px;
    width: 3px;
    background-color: black;
    position: relative;
    top: -50px;
    left: 0px;
}

#progress-wrapper {
    background-color: #c8e5ff;
    height: 50px;
    margin-bottom: 40px;
}

#marker-pos {
    position: relative;
    top: -100px;
    padding-left: 10px;
    width: 100px
}

button.ctl-button, button.new-file, button.sub-button {
    background: none;
    border: none;
    margin-right: 40px;
}

div#file-buttons, div#console-button, div#power-button {
    float: left;
    margin-top: 10px;
}

div#ctl-buttons {
    margin-top: 10px;
    background-color: #e2e2e2;
    margin-bottom: 20px;
}

#deviation_str {
    margin-top: -10px;
    position: relative;
}

.sub-menu {
    display: none;
    margin-top: 20px;
}

br {
    clear: both;
}

td.not-playing {
    background-color: #e2e2e2;
}

td.playing {
    border-bottom-color: #9a9a9a;
}

p.position {
    float: right;
    padding-right: 10px;
}

p.title {
    font-size: 30px;
}

table {
    width: 100%;
}