{% extends "layout.html" %}
{% block body %}
<!--BODY BLOCK-->
    {{ filename }}<br>
    <span id="position"></span> / {{ duration }}<br>
    <div style="height:50px;background-color:#2196F2" id="progress_bar"></div>
    <button id="skip_bwd" value="skip_bwd">&#10096;</button>
    <button id="play_pause" value="play_pause">&#9654;</button>
    <button id="skip_fwd" value="skip_fwd">&#10097;</button>
    <button id="stop" value="stop">STOP</button>
    <button class="material-icons">power settings new</button>
<!--END BODY-->
{% endblock %}