{% extends "layout.html" %}
{% block body %}
<!--BODY BLOCK-->
    <span id="filename"></span><br>
    <span id="position"></span> / <span id="duration"></span><br>
    <div id="progress-wrapper">
        <div style="height:50px;background-color:#2196F2" id="progress_bar"></div>
    </div>
    <button class="clt-button" value="skip_bwd"><i class="material-icons">&#xE059;</i></button>
    <button class="clt-button" value="play_pause"><i class="material-icons">&#xE036;</i></button>
    <button class="clt-button" value="skip_fwd"><i class="material-icons">&#xE056;</i></button>
    <button class="clt-button" value="stop"><i class="material-icons">&#xE8AC;</i></button>

    <table>
            {{ files }}
    </table>
<!--END BODY-->
{% endblock %}