{% extends "layout.html" %}
{% block body %}
<!--BODY BLOCK-->
    {{ filename }}<br>
    <span id="position"></span> / {{ duration }}<br>
    <div style="height:50px;background-color:#2196F2" id="progress_bar"></div>
    <button class="clt-button" value="skip_bwd"><i class="material-icons">&#xE059;</i></button>
    <button class="clt-button" value="play_pause"><i class="material-icons">&#xE036;</i></button>
    <button class="clt-button" value="skip_fwd"><i class="material-icons">&#xE056;</i></button>
    <button class="clt-button" value="stop"><i class="material-icons">&#xE8AC;</i></button>

    <table>
        <tr>
            {{ files }}
        </tr>
    </table>
<!--END BODY-->
{% endblock %}